*{
  margin:0;
  padding:0;
}

body{
  background:#fff;
  font-family:arial, sans-serif;
  font-size:.875em;
  color:#666;
}

a{
  text-decoration:none;
  border: none;
}

a:link {color: #08f}
a:visited {color: #06c}
a:hover {color: #06c}
a:active {color: #06c}

.history {
  font-weight: bold;
  color: green;
}

.left {
  float: left;
}
